---
// src/layouts/Layout.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
}

const { 
	title = "Clic&Zen | Assistance & Dépannage Informatique à domicile", 
	description = "Assistance informatique de proximité pour particuliers et professionnels à Ivry-sur-Seine, Paris 13, Fontainebleau, Vulaines-sur-Seine." 
} = Astro.props;

const base = import.meta.env.BASE_URL.replace(/\/$/, '') + '/';
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href={base + "favicon.svg"} />
		<meta name="generator" content={Astro.generator} />
		
		<!-- SEO Meta Tags -->
		<title>{title}</title>
		<meta name="description" content={description} />
		<!-- <meta name="robots" content="index, follow" /> -->
		 <meta name="robots" content="noindex, nofollow" />
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
	</head>
	<body class="bg-slate-50 text-slate-800 min-h-screen flex flex-col font-sans antialiased selection:bg-clic-dark selection:text-white">
		
		<!-- Header -->
		<Header />
		
		<!-- Contenu Principal -->
		<main class="flex-grow">
			<slot />
		</main>
		
		<!-- Footer -->
		<Footer />
		
	</body>
</html>
